<!DOCTYPE html>
<html lang="en">
<head>
  <title>Error</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- css bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
  <!-- awesome font-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">


</head>

<body style="background: #ebeef5">
 <!-- upload card -->
 <div class="container-fluid">
    <div class="row content">


      <div class="col-md text-center" style="padding:5%;" >
        <h1 style="font-size: 10em"><i class="far fa-dizzy"></i></h1>
        <h1 style="font-size: 5em">OOps!</h1>
        <h4>Something went wrong here.</h4>
        <h6>please try one of the following again.</h6><br>
        <button class="btn btn-primary" onclick="goBack()">GO BACK</button>
      </div>

    
</div>
</div>

<script>
function goBack() {
  window.history.back();
}
</script>

</body>
</html>